# Main application configuration menu
menu "CAR STM "
        config SENSOR_MGR_STACK_SIZE
            int "Stack size for sensors thread"
            default 1536
            help
              Size of the stack used by the sensor acquisition thread.

        config SENSOR_MGR_PRIORITY
            int "Priority for sensors thread"
            default 3
            help
              RTOS priority for the sensor acquisition thread.
        config SENSOR_POLL_INTERVAL_MS
            int "Sensor polling interval in ms"
            default 1000
        config DEFAULT_TEMP
            int "Default temperature value"
            default 100
    endmenu

# This must remain at the bottom to pull in all standard Zephyr options
source "Kconfig.zephyr"