#include <zephyr/dt-bindings/pinctrl/esp32c6-pinctrl.h>
#include <zephyr/dt-bindings/i2c/i2c.h>

/ {
    chosen {
        /* W nowym Zephyrze zaleca się stosowanie 'zephyr,canbus' zamiast 'zephyr,can-primary' */
        zephyr,canbus = &twai0;
    };
};

/* KROK 1: Definicja własnej konfiguracji pinów (możesz zmienić numery GPIO na własne) */
&pinctrl {
    twai0_default: twai0_default {
        group1 {
            /* Wybieramy np. GPIO 20 jako TX i GPIO 21 jako RX */
            pinmux = <TWAI0_TX_GPIO4>,
                     <TWAI0_RX_GPIO5>;
        };
    };

    i2c0_default: i2c0_default {
        group1 {
            /* Wybieramy np. GPIO 6 jako SDA i GPIO 7 jako SCL */
            pinmux = <I2C0_SDA_GPIO12>,
                     <I2C0_SCL_GPIO13>;
            bias-pull-up; /* Włączenie wewnętrznego pull-up (wymagane dla I2C) */
        };
    };
};

/* KROK 2: Aktywacja i konfiguracja kontrolera TWAI (CAN) */
&twai0 {
    status = "okay";
    bitrate = <500000>; /* Prędkość magistrali: 500 kbps */
    pinctrl-0 = <&twai0_default>;
    pinctrl-names = "default";
};

/* KROK 3: Aktywacja i konfiguracja kontrolera I2C wraz z czujnikiem */
&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>; /* Wymaga nagłówka i2c.h na początku */
    pinctrl-0 = <&i2c0_default>;
    pinctrl-names = "default";

    mpu6050: mpu6050@68 {
        compatible = "invensense,mpu6050";
        reg = <0x68>;
        status = "okay";
        /* Przykładowo pin przerwaniowy PC4 zmieniamy na GPIO 4 w jedynym banku gpio0 */
        int-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>; 
        smplrt-div = <249>;
    };
};